# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
*.log
*.pdb
*.ilk
*.aps
*.bsc
*.sbr
*.res
*.pch
*.idb
*.opt
*.ncb
*.lib
*.exp
*.map
*.obj
*.exe
*.dll
*.winmd
*.appx
*.msi
*.msp
*.cer
*.pfx
*.snk
*.vmdk
*.vhd
*.vdi
*.iso
*.img
*.vbox
*.vmx
*.vmsd
*.vmss
*.vmem

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.VC.db
*.opendb

# Rider
.idea/
*.sln.iml

# NuGet
.nuget/
*.nupkg
*.snupkg
packages/
*.nuspec
artifacts/
*.lock.json
NuGet.Config
nuget.config

# ASP.NET
appsettings.Development.json
appsettings.*.json

# Entity Framework
*.mdf
*.ldf

# Coverage / Testing
*.coverage
*.coveragexml
TestResults/
*.trx

# Others
_ReSharper*/
*.DotSettings.user
*.swp
*.bak
*.tmp
*.log
*.DS_Store
Thumbs.db

# Publish output
publish/

# Blazor WebAssembly specific
wwwroot/dist/
wwwroot/wasm/
wwwroot/_framework/
wwwroot/_content/
wwwroot/service-worker.js
wwwroot/service-worker.published.js

# node.js
node_modules/

# DotNet tools
.config/dotnet-tools.json
